.login{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 90px);
    align-items: center;
    justify-content: center;
    gap: 50px;

    h2{
        color: #e2e2e2;
        font-size: 28px;
    }
    
    h3{
        color: #e2e2e2;
        font-size: 30px;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 50px;

        input {
            height: 50px;
            width: 25vw;
            border: none;
            background-color: #525151;
            color: #ffffff;
            padding: 0 10px;
            font-size: 18px;
            border-radius: 8px;
        }

        button {
            height: 50px;
            background-color: rgba(179, 77, 10, 1);
            color: #e2e2e2;
            cursor: pointer;
            font-size: 18px;
            padding: 10px;
            border: none;
            border-radius: 8px;
        }
        button:hover {
            background-color: rgb(128, 54, 5);
        }

    }

    .registerSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;

        h2{
            color: #e2e2e2;
        }

        button {
                height: 50px;
                background-color: rgba(179, 77, 10, 1);
                color: #e2e2e2;
                cursor: pointer;
                font-size: 18px;
                padding: 10px;
                border: none;
                border-radius: 8px;
            }
            button:hover {
                background-color: rgb(128, 54, 5);
            }
    }
}