.createExercise{
    min-height: calc(92vh - 10px);
    padding: 0 16vw;
    padding-top: 8vh;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    h3{
        color: rgba(179, 77, 10, 1);
    }

    form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 25px;
            padding: 15px;
            align-items: center;
            border-radius: 15px;
            overflow: hidden;
    
            input {
                height: 50px;
                width: 25vw;
                border: none;
                background-color: #525151;
                color: #ffffff;
                padding: 0 10px;
                font-size: 18px;
                border-radius: 8px;
            }
    
            input::placeholder {
                color: #e2e2e2;
            }
    
            button {
                height: 50px;
                background-color: rgba(179, 77, 10, 1);
                color: #e2e2e2;
                cursor: pointer;
                font-size: 18px;
                padding: 10px;
                border: none;
                border-radius: 10px;
            }
    
            button:hover {
                background-color: rgb(128, 54, 5);
            }
    
        
        }
}