.exerciseSearch{
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    h3{
        font-size: 28px;
        font-weight: 600;
        color: #e2e2e2;
    }

    .selectMenu{
        position: relative;

       select{
        background-color: #525151;
        width: 10vw;
        height: 30px;
        color: #e2e2e2;
        border-radius: 8px;
        cursor: pointer;

       }
        
    }

}